@import "tailwindcss";

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-column {
  @apply flex justify-center items-center flex-col;
}

@utility text-gradient {
  @apply bg-gradient-to-t from-[#01007b] to-[#ffffff] via-[#00b4f0] bg-clip-text text-transparent;
}

@utility padding {
  @apply py-[20px] px-[20px] sm:px-[30px];
}

:root {
  --background: #ffffff;
  --text: black;
  --glass-bg: rgba(255, 255, 255, 0.2);
  --glass-radius: 16px;
  --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --glass-blur: blur(5px);
  --glass-border: 1px solid rgba(255, 255, 255, 0.3);
  --dark-background: white;
  --desc: #888;
  --link: #01007b;
}

@theme {
  --color-background: var(--background);
  --color-text: var(--text);
  --glass-bg: var(--glass-bg);
  --glass-radius: var(--glass-radius);
  --glass-shadow: var(--glass-shadow);
  --glass-blur: var(--glass-blur);
  --glass-border: var(--glass-border);
  --color-dark : var(--dark-background);
  --color-desc: var(--desc);
  --color-link: var(--link);
}
.dark {
  --background: #000000;
  --text: white;
  --glass-bg: rgba(105, 90, 90, 0.2);
  --glass-radius: 1rem;
  --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --glass-blur: blur(4px);
  --glass-border: 1px solid rgba(105, 90, 90, 0.3);
  --dark-background: black;
  --desc: #ccc;
  --link: white;
}
