@import "tailwindcss";

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility flex-column {
    @apply flex justify-center items-center flex-col;
}

@utility text-gradient {
    @apply bg-gradient-to-t from-[#01007b] to-[#ffffff] via-[#00b4f0] bg-clip-text text-transparent;
}

@utility padding {
    @apply py-[20px] px-[20px] sm:px-[30px];
}

:root {
  --background: #fafafa;
  --text: black;
  --desc: black;
  --btn: white;
  --text-gradient: linear-gradient(to right, #0c7986, #d1dfe8, #616060);
}

@theme {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-desc: var(--desc);
  --color-btn: var(--btn);
  --color-title: var(--text-gradient);
}
.dark {
  --background: #000000;
  --text: #616080;
  --desc: white;
  --btn: bblack;
  --text-gradient: linear-gradient(to right, #0c7986, #d1dfe8, #616060);
}